ac492d5c (Alejandro Salgado G 2017-07-24 15:03:49 -0500  1) <html>
5ade398a (Alejandro Salgado G 2017-07-27 20:10:46 -0500  3)     <head>
5ade398a (Alejandro Salgado G 2017-07-27 20:10:46 -0500  4)         <title>Image manager</title>
5ade398a (Alejandro Salgado G 2017-07-27 20:10:46 -0500 12)     </head>
ac492d5c (Alejandro Salgado G 2017-07-24 15:03:49 -0500 14)     <body>
ac492d5c (Alejandro Salgado G 2017-07-24 15:03:49 -0500 16)         <h1> Welcome to image_manager </h1>
46b7ad5b (Alejandro Salgado G 2017-08-17 21:06:41 -0500 26)                         <input class="form-control" type="text" name="user" required><br>
46b7ad5b (Alejandro Salgado G 2017-08-17 21:06:41 -0500 28)                         <input class="form-control" type="password" name="password" required><br>
ac492d5c (Alejandro Salgado G 2017-07-24 15:03:49 -0500 30) 
ac492d5c (Alejandro Salgado G 2017-07-24 15:03:49 -0500 34) 
1510b1d4 (Alejandro Salgado G 2017-07-24 17:46:51 -0500 37) 
46b7ad5b (Alejandro Salgado G 2017-08-17 21:06:41 -0500 38)                 <form name="regist_form" action='/register' onsubmit="return validate_regist_form()" method="post">
46b7ad5b (Alejandro Salgado G 2017-08-17 21:06:41 -0500 41)                         <input class="form-control" type="text" name="ruser" required><br>
46b7ad5b (Alejandro Salgado G 2017-08-17 21:06:41 -0500 43)                         <input class="form-control" type="password" name="rpassword" required><br>
46b7ad5b (Alejandro Salgado G 2017-08-17 21:06:41 -0500 45)                         <input class="form-control" type="password" name="rpassword2" required><br>
ccac576a (Alejandro Salgado G 2017-07-24 22:24:06 -0500 47) 
1510b1d4 (Alejandro Salgado G 2017-07-24 17:46:51 -0500 55) 
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 57)         <h2> Consult existing users </h2>
fc5cff0e (Alejandro Salgado G 2017-07-29 16:14:40 -0500 59)         <form action='/read_users'>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 61)         </form>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 63) 
ccac576a (Alejandro Salgado G 2017-07-24 22:24:06 -0500 64)         <%= msg %>
ac492d5c (Alejandro Salgado G 2017-07-24 15:03:49 -0500 65)     </body>
46b7ad5b (Alejandro Salgado G 2017-08-17 21:06:41 -0500 66) 
46b7ad5b (Alejandro Salgado G 2017-08-17 21:06:41 -0500 67)     <script type="text/javascript" src="/scripts/home.js"></script>
ac492d5c (Alejandro Salgado G 2017-07-24 15:03:49 -0500 68) </html>
