ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500  1) <html>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500  7)     <body>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 10) 
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 11)         <ul>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 12)             <% for (var i=0;i<mysql.length;i++){ %>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 13)                 <li> <%= mysql[i].user %> </li>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 14)             <% } %>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 15)         </ul>
2d0e536a (Alejandro Salgado G 2017-07-29 17:40:46 -0500 16) 
40a2db00 (Alejandro Salgado G 2017-07-29 15:59:12 -0500 17)         <%= msg %>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 18)     </body>
ccc5e48f (Alejandro Salgado G 2017-07-25 13:37:56 -0500 19) </html>
